*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
     
}
li{
    list-style-type: none;
}
body{
    color: #505050;
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.container_content{
    max-width: 970px;
    margin: 0 auto;
}
.section-line{
    border-bottom: 1px solid rgba(208,212,216,.5);
}

.header_top{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
}
.header_top_liner{
    border: 2px solid #ECB84C;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
    font-family: Georgia;
}
.header_title{
    font-weight: bold;
    font-size: 200px;
    line-height: 227px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: auto;
    font-weight: 700;
}
.heder_text{
    font-size: 24px;
    line-height: 27px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-bottom: -12px;
    
}

.heder_text::after,
.heder_text::before{
    content: "";
    border-top: 2px solid #ECB84C;
    width:100%;
}
.heder_text::after{
    margin-left: 30px;
}
.heder_text::before{
margin-right: 30px;
}
.menu{
    border-bottom: 1px solid rgba(208,212,216,.5);
}
.menu_list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_list-link{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    padding: 24px 10px 24px;
    color: #909090;
    margin: 0 6px;
    border-bottom: 4px solid transparent;
    border: al .5s;
}
.menu_list-link:hover{
    color:#4E5665;
    border-bottom: 4px solid #ECB84C;
}
.reason{
    padding: 80px 0 0;
}
.title{
    font-family: Georgia;
    font-size: 32px;
    line-height: 38px;
    color: #4E5665;
    text-align: center;
    font-weight: 400px;
}
.reason_title{
    margin-bottom: 22px;
}
.reason_link{
    text-align: right;
}
.reason_link a{
    font-weight: bold;
    color: #ECB84C;
    margin-bottom: 36px;
}
.reason_statistics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 80px;
}
.reason_statistics_num{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #4E5665; 
}
.reason_statistics-text{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #909090;
    text-align: center;
    }
.about{
    padding: 80px 0 0;
}
.about_title{
    margin-bottom: 13px;
}   
.about_text{
    margin-bottom: 72px;
} 
.about_item{
    margin-bottom: 100px;
    padding: 70px 0;
    background-repeat: no-repeat;
    background-position: right;
}
.about_box{
    padding: 33px 40px 30px;
    background-color: #fff;
    max-width: 470px;
    position: relative;
}
.about_box-title{
    font-family: Georgia;
    font-size: 24px;
    line-height: 25px;
    color: #4E5665;
    margin-bottom: 20px;
}
.about_box::after,
.about_box::before{
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
}
.about_box::before{
    background-image: url('./images/d_left.png');
    top: 19px;
    left: 19px;
}
.about_box::after{
    border-bottom: 2px solid #ECB84C;
    border-right: 2px solid #ECB84C;
    right: 19px;
    bottom: 19px;
}
.about_item:nth-child(even){
    background-position: bottom;

}
.about_item:nth-child(even) .about_box{
    margin-left: auto;
}
.about_item:nth-child(even) .about_box::before{
    right: 19px;
    left: auto;
    background-image: none;
    border-right: 2px solid #ECB84C;
    border-top: 2px solid #ECB84C;
}
.about_item:nth-child(even) .about_box::after{
    left: 19px;
    border-right: none;
    border-left: 2px solid #ECB84C;
}
.about_preview{
    margin-bottom: 38px;
}
.about_preview_text{
    margin: 53px auto 80px;
}
.about_images-box{
    padding-top: 73px;
    position: relative;
}
.about_dot{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(236,184,76, .75);
    cursor: pointer;
    position: absolute;
}
.about_dot::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFD600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about_dot::before{
    content: "";
    position: absolute;
    width: 244px;
    height: 122px;
    background-image: url('../images/line.png');
    top: -113px;
    left: 25px;
    display: none;
}
.about_dot-1{
    top: 450px;
    left: 148px;
}
.about_dot-2{
    top: 336px;
    left: 531px;
}
.about_dot-3{
    top: 388px;
    right: 287px;
}
.about_dot-4{
    right: 342px;
    bottom: 165px;
}
.about_dot_text{
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #141414;
    position: absolute;
    white-space: nowrap;
    top: -140px;
    left: 150px;
    display: none;
}
.about_dot:hover::before{
    display: block;
}
.about_dot:hover .about_dot_text{
    display: block;
}

.photo{
    padding: 80px 0;
}
.photo_title{
    margin-bottom: 42px;
}
.photo_text{
    padding-bottom: 48px;
    margin-bottom: 46px;
    position: relative;
}
.photo_text::after{
    content: "";
    position: absolute;
    width: 270px;
    height: 1px;    
    background-color: rgba(208,212,216,.5);
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.photo_slider{
    max-width: 640px;
    margin: 0 auto;
    filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
}
.slick-arrow{
    border:none;
    width: 40px;
    height: 40px;
    background-color: #ECB84C;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    outline: none;
}
.slick-prev{
    left: -20px;
}
.slick-next{
    right: -20px;
}
.footer{
    background: #F8F8F8;
    padding: 55px 0 32px;
}
.footer_items{
    display: flex;
    justify-content: space-between;
}
.footer_item{
    width: 140px;
}

.footer_item-title{
    font-family: Lato;
    font-weight: bold;
    font-size: 15px;
    color: #4E5665;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer_item-link{
    font-size: 14px;
    line-height: 19px;
    color: #505050;
    margin-bottom: 8px;
}
.footer_item-blog{
    width: 300px;
}
.footer_item-company{
    width: 300px;
    padding-left: 180px;
}
.footer-item-link-social{
    padding-left: 28px;
    position: relative;
}
.footer-item-link-social::before{
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
}
.footer-item-link-social-x1::before{
background-image: url('../images/x1.png');
width: 17px;
height: 17px;
}
.footer-item-link-social-x2::before{
background-image: url('../images/x2.png');
}
.footer-item-link-social-x3::before{
background-image: url('../images/x3.png');
}
.footer-item-link-social-x4::before{
background-image: url('../images/x4.png');
}
.footer-item-link-social-x5::before{
background-image: url('../images/x5.png'); 
height: 13px;
top: 2px;   
}
.footer_copy{
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    padding-top: 40px;
}
